<h1>Find nearest bus stops</h1>

<div id="map" style="height: 600px"></div>

<form action="/nearest_bus_stops">
  <input type="hidden" name="lat" id="lat" />
  <input type="hidden" name="lon" id="lon" />
  <button type="submit">Show bus stops</button>
</form>

<script language="javascript">
  // Trafalgar Square
  var lat = 51.50784765480182;
  var lon = -0.12795096451290844;
  document.getElementById("lat").value = lat;
  document.getElementById("lon").value = lon;

  var map = L.map('map').setView([lat, lon], 17);

  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
  }).addTo( map );

  map.on("moveend", (e) => {
    point = map.getCenter();
    document.getElementById("lat").value = point.lat;
    document.getElementById("lon").value = point.lng;
  });
</script>
