<h1>Find nearest bus stops</h1>
<form action="/nearest_bus_stops">
  <p>
    Latitude<br />
    <input type="text" name="lat" />
  </p>
  <p>
    Longitude<br />
    <input type="text" name="lon" />
  </p>
  <button type="submit">Search</button>
</form>
