<h1>Find nearest bus stops</h1>

<div id="map" style="height: 600px"></div>

<form action="/nearest_bus_stops">
  <p>
    Latitude<br />
    <input type="text" name="lat" id="lat" />
  </p>
  <p>
    Longitude<br />
    <input type="text" name="lon" id="lon" />
  </p>
  <button type="submit">Search</button>
</form>

<script language="javascript">
  var map = L.map('map').setView([51.505, -0.09], 17);
  L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
  }).addTo( map );

  map.on("moveend", (e) => {
    point = map.getCenter();
    document.getElementById("lat").value = point.lat;
    document.getElementById("lon").value = point.lng;
  });
</script>
